<div class="container">
  <div class="row mt-5">
    <h4 style="background-color:#EEEEEE;color:dark;display:inline">マイページ</h4>
  </div>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>